@use '/styles/base/variable';
@use '/styles/mixins/position';


.point-box {
  margin: 24px;

  .title {
    font-weight: bold;

    span {
      font-size: 22px;
    }
  }

  .point-bar {
    display: flex;
    justify-content: space-between;

    .progress-bar-space{
      width: 80%;
    }

    .my-score {
      color: variable.$POINT;

      span {
        font-size: 22px;
        color: variable.$TXT-001;
      }
    }
  }
}
.progress-bar-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 98.5%;
  height: 12px;
  border: 2px solid variable.$LINE-003;
  border-radius: 2.5px;

  &::after {
    @include position.absolute(1px -4.5px auto auto);
    // width: 100%;
    content: ' ';
    width: 1.5px;
    height: 7px;
    background-color: variable.$LINE-003;
  }
  .progress-bar {
    width: 55%;
    height: 6px;
    margin: 0 1px;
    background-color: variable.$POINT;
    border-radius: 0.5px;
  }
}
.level-wrap {
  padding: 19px 19px 25px 19px;
  border-bottom: 1px solid variable.$LINE-003;

  &.first {
    padding-top: 0;
  }
  .level-tit-wrap {
    display: flex;
    align-items: center;

    .level-tit {
      margin: 0 10px 10px 0;
      font-size: variable.$FS-21;
      color: variable.$RANK-001;
      &.e {
        color: variable.$RANK-002;
      }
      &.pe {
        color: variable.$RANK-003;
      }
    }
    .level-icon-wrap {
      margin-top: -4px;
    }
  }
  .level-content-wrap {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: variable.$BG-003;
    ~ .level-content-wrap {
      margin-top: 8px;
    }
    .img-wrap {
      margin-top: 2px;
    }
    .content {
      font-size: variable.$FS-12;
      color: variable.$TXT-003;
    }
  }
}

.my-menu {
  margin: 24px;

  .title {
    font-weight: bold;
  }

  .card {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(98, 98, 98, 0.25);
    border-radius: 5px;

    color: variable.$TXT-003;
    text-align: center;
    padding: 50px 66px;
  }

  .my-menu-true {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(98, 98, 98, 0.25);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;

    div {
      text-align: left;
      .my-menu-title {
        color: variable.$TXT-001;
      }

      .my-menu-kind {
        color: variable.$TXT-003;
        font-size: 12px;
      }

      .my-menu-detail {
        color: variable.$TXT-002;
        font-size: 12px;
      }
    }

    div {
      .img {
        border-radius: 10px;
        width: 55px;
        height: 55px;
        margin: 8px;
        img{
          width: 100%;
          border-radius: 10px;
        }
      }

      .order-button {
        background-color: variable.$TXT-001;
        color: variable.$TXT-005;
        border-radius: 13px;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}
.nearly-store {
  margin: 24px;

  .title {
    font-weight: bold;
  }

  & > .card {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(98, 98, 98, 0.25);
    border-radius: 5px;

    color: variable.$TXT-003;
    text-align: center;
    padding: 8px;

    display: flex;

    .store-img {
      padding: 40px;
    }

    .text-space {
      text-align: left;

      .store-name {
        color: variable.$TXT-001;
      }

      .store-address {
        color: variable.$TXT-003;
        font-size: 12px;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 12px;
        margin-top: auto;

        span {
          color: variable.$TXT-001;
          font-size: 22px;
        }
      }

      :nth-child(2) {
        color: variable.$TXT-001;
      }
    }
  }
}

.recommend-menu {
  overflow: hidden;

  .title {
    font-weight: bold;
    margin: 0 0 0 24px;
  }

  div {
    border-radius: max;
  }
}

.recommended {
  display: flex;
  width: 100vw;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  .recommended-menu {
    margin: 8px;
    text-align: center;
    min-width: 120px;
    width: 120px;

    img {
      width: 100%;
      border-radius: 50%;
    }

    .recommended-menu-text {
      color: variable.$TXT-002;
      font-size: 12px;
    }
  }
}
