@use '/styles/mixins/position';

.cart-item-wrap {
  padding: 14px 20px;
  border-bottom: 1px solid var(--LINE-003);

  input[type='checkbox'] {
    position: relative;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid var(--POINT);
    border-radius: 3px;

    &:checked {
      background-color: var(--POINT);
    }

    &::after {
      pointer-events: none;
      content: url('/assets/svg/icon-check.svg');
      @include position.absolute(-4px 4px auto auto);
      width: 10px;
    }
  }

  .first-wrap {
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;

    .close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--TXT-004);

      .icon {
        stroke: var(--TXT-004);
      }
    }
  }

  .second-wrap {
    display: flex;

    .img-wrap {
      display: inline-block;
      margin-right: 20px;
      width: 100px;
      height: 100px;
      border-radius: 5px;
      overflow: hidden;
      flex-shrink: 0;
    }

    .content-wrap {
      width: 100%;

      .kor-name {
        font-size: var(--FS-14);
        font-weight: 500;
        color: var(--TXT-001);
      }

      .eng-name {
        display: block;
        margin-top: -2px;
        font-size: var(--FS-11);
        font-weight: 300;
        color: var(--TXT-003);
      }

      .option-wrap {
        display: flex;
        justify-content: space-between;
        margin: 7px 0;
        font-size: var(--FS-12);
        font-weight: 300;
        color: var(--TXT-002);

        .price {
          font-weight: 500;
        }
      }

      // .option-change-btn {
      //   font-size: var(--FS-12);
      //   font-weight: 300;
      //   color: var(--POINT);
      //   cursor: pointer;
      //   text-decoration: underline;
      // }

      .num-change-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .left {
          display: flex;

          strong {
            margin: 0 20px;
          }

          .icon-btn {
            cursor: pointer;

            .icon {
              stroke: var(--TXT-003);

              &.disable {
                stroke: var(--TXT-004);
              }
            }
          }
        }

        span {
          font-size: var(--FS-14);
          font-weight: 500;
        }
      }
    }
  }
}
