@use '/styles/base/variable';

.react-confirm-alert-overlay {
  background: var(--BG-ALPA-002);
  // background-color: variable.$BG-ALPA-002;
  z-index: 9999;
}

.popup-overlay {
  margin: 0 30px;
  padding: 20px 20px;
  background: var(--BG-001);
  color: var(--TXT-001);
  border-radius: 10px;

  h1 {
    margin-bottom: 14px;
    font-size: var(--FS-18);
    font-weight: bold;
  }

  p {
    margin-bottom: 14px;
  }

  .btn-group {
    text-align: right;

    button {
      padding: 3px 14px 0 14px;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      border: 1px solid var(--POINT);
      color: var(--POINT);
      border-radius: 20px;

      &:first-child {
        margin-right: 10px;
      }

      &.btn-confirm {
        background-color: var(--POINT);
        color: var(--TXT-005);
      }

      .txt-wrap {
        display: inline-block;
        padding-bottom: 4px;
      }
    }
  }
}
