.store-wrap {
  position: relative;

  button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;

    .img-wrap {
      display: flex;
      justify-content: center;
      width: 90px;
      height: 90px;
      overflow: hidden;
      border-radius: 5px;
      margin-right: 13px;
      flex-shrink: 0;

      img {
        height: 90px;
      }
    }

    .contents-wrap {
      width: 100%;
      display: flex;
      padding: 5px;
      height: 90px;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;

      .top-content-wrap {
        display: flex;
        justify-content: space-between;

        .store-name-wrap {
          display: flex;

          .store-name {
            font-size: var(--FS-13);
            font-weight: bold;
            color: var(--TXT-001);
          }

          .is-open {
            margin-left: 5px;
          }
        }

        .icon-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          margin-top: 3px;

          .park-icon {
            fill: var(--TXT-004);
          }

          .eco-icon {
            fill: var(--TXT-004);
          }
          .car-icon {
            margin-top: -2px;
            fill: var(--TXT-004);
          }

          .icon-top {
            margin-top: 3px;
          }
        }
      }

      .store-address {
        display: inline-block;
        margin-top: -10px;
        font-size: var(--FS-12);
        font-weight: 300;
        color: var(--TXT-003);
        line-height: 1.4;
      }

      .bottom-content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .waiting-time-wrap {
          span {
            font-size: var(--FS-11);
            font-weight: var(--FW-001);
            color: var(--TXT-002);
            strong {
              font-size: var(--FS-15);
              font-weight: var(--FW-003);
              color: var(--TXT-001);
            }
          }
        }
      }

      .distance {
        font-size: var(--FS-13);
        font-weight: 500;
        color: var(--TXT-002);
      }
    }
  }

  .close-store {
    background-color: var(--BG-ALPA-003);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: 1;
    // cursor: auto;
  }
}
