@use '/styles/mixins/position';

.toggle-wrap {
  position: relative;
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    -webkit-appearance: none;
    width: 40px;
    height: 22px;
    background-color: var(--BG-004);
    border-radius: 20px;

    &:checked {
      background-color: var(--POINT);
      & ~ .toggle {
        margin-left: 18px;
      }
    }
  }
  .toggle {
    @include position.absolute(2px auto auto 2px);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--BG-002);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
}
