.toolbar-list-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--TOOLBAR);
  background: var(--BG-002);
  box-shadow: var(--BOX-SHADOW-TOOLBAR);
}

.blank {
  padding-top: 50px;
}

.toolbar-list {
  display: flex;
  align-items: center;
  justify-content: center;

  .toolbar-item {
    flex: 1;
    position: relative;
    text-align: center;

    button {
      width: 100%;
      position: relative;
      display: block;
      height: 50px;
      text-align: center;
      cursor: pointer;
    }

    .toolbar-icon {
      position: absolute;
      left: 50%;
      top: 16%;
      transform: translateX(-50%);
      fill: var(--TXT-004);

      &.active {
        fill: var(--POINT);
      }
    }

    .toolbar-txt {
      display: block;
      padding-top: 25px;
      color: var(--TXT-004);
      font-size: 10px;

      &.active {
        color: var(--POINT);
      }
    }
  }
}
