@use '/styles/mixins/position';

.point-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .progress-bar-space {
    font-size: var(--FS-12);
    font-weight: var(--FW-001);
    color: var(--TXT-003);
    flex: 0.64;
  }

  .my-score {
    color: var(--TXT-004);
    line-height: 20px;
    flex: 0.36;
    text-align: right;

    .my-exp {
      margin-right: 2px;
      font-size: 22px;
      color: var(--TXT-002);
    }

    .req-exp {
      margin: 0 2px;
    }
  }
}

.progress-bar-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 98.5%;
  height: 12px;
  border: 2px solid var(--LINE-003);
  border-radius: 2.5px;

  &::after {
    @include position.absolute(0 -4.5px auto auto);
    content: ' ';
    width: 2px;
    height: 7px;
    background-color: var(--LINE-003);
  }

  .progress-bar {
    width: 55%;
    height: 6px;
    margin: 0 1px;
    background-color: var(--POINT);
    border-radius: 0.5px;
  }
}