.my-wrap {
  padding: 14px 0;
  margin-bottom: 20px;
  background-color: var(--BG-003);

  .my-menu {
    margin-bottom: 20px;

    .title {
      padding: 0 20px;
      font-weight: bold;
      margin-left: 4px;
    }

    .one-card {
      padding: 0 30px;
    }

    .card {
      margin: 0 24px 50px;
      background: var(--BG-001);
      border-radius: 5px;
      color: var(--TXT-003);
      text-align: center;
      padding: 30px;

      .card-btn {
        margin-top: 10px;
        color: var(--TXT-004);
        text-decoration: underline;
      }
    }

    div {
      margin: 2px;

      div {
        div {
          ul {
            width: calc(100% - 60px) !important;
            padding-right: 10px !important;

            li:first-child {
              margin-right: 20px !important;
              margin-left: 20px !important;
            }

            li {
              margin-right: 20px !important;
            }
          }
        }
      }

      .my-menu-true {
        background: var(--BG-001);
        border-radius: 5px;
        padding: 8px;
        display: flex;
        justify-content: space-between;

        .my-menu-info-wrap {
          height: 100%;
          display: flex;
          flex-direction: column;
          text-align: left;

          .my-menu-title {
            font-weight: var(--FW-002);
            font-size: var(--FS-16);
            color: var(--TXT-001);
          }

          .my-menu-kind {
            color: var(--TXT-003);
            font-size: var(--FS-12);
          }

          .my-menu-detail {
            color: var(--TXT-002);
            font-size: var(--FS-11);
          }
        }

        .mymenu-order-wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .img {
            width: 68px;
            height: 68px;
            margin: 8px;

            img {
              width: 100%;
              border-radius: 5px;
            }
          }

          .order-button {
            background-color: var(--POINT);
            color: var(--TXT-005);
            font-size: var(--FS-12);
            font-weight: var(--FW-002);
            padding: 2px;
            border-radius: 13px;
            text-align: center;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.info-wrap {
  padding: 15px 15px 20px;
  margin: 10px 24px 24px;
  background-color: var(--BG-001);
  border-radius: 10px;

  .info {
    margin-bottom: 10px;
    font-size: var(--FS-16);
    font-weight: bold;
  }

  .btn-box {
    text-align: right;

    .btn {
      margin: 0 4px;
      padding: 4px 10px;
      text-align: center;
      font-size: var(--FS-14);
      font-weight: 400;
      border-radius: 20px;
      color: var(--TXT-005);
      background-color: var(--POINT);
    }

    .login-btn {
      border: 1px solid var(--POINT);
      color: var(--POINT);
      background-color: var(--BG-001);
    }
  }
}

.nearly-store {
  margin: 10px 24px;

  .title {
    font-weight: bold;
  }

  &>.card {
    background: var(--BG-001);
    border-radius: 5px;
    cursor: pointer;

    color: var(--TXT-003);
    text-align: center;
    padding: 8px;

    display: flex;

    .store-img {
      width: 120px;
      height: 70px;
      object-fit: cover;
      overflow: hidden;
      align-self: center;
      margin-right: 10px;
      border-radius: 5px;

      img {
        height: inherit;
      }
    }

    .text-space {
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;

      .store-name {
        font-size: var(--FS-13);
        font-weight: var(--FW-002);
        color: var(--TXT-001);
      }

      .store-address {
        color: var(--TXT-002);
        font-size: var(--FS-11);
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 12px;
        margin-top: auto;
        color: var(--TXT-002);

        div {
          font-size: var(--FS-11);
          color: var(--TXT-002);
        }

        .waiting,
        .distance {
          display: inline-block;
          color: var(--TXT-001);
          font-size: var(--FS-18);
          font-weight: var(--FW-003);
        }

        .waiting {
          padding-left: 8px;
        }

        .distance {
          font-size: var(--FS-12);
          font-weight: var(--FW-002);
        }
      }
    }
  }
}