.product-img {
  text-align: center;
  height: 170px;
  background-color: var(--BG-009);

  img {
    height: 100%;
  }
}

.product-detail {
  padding: 16px;

  .product-name {
    font-size: var(--FS-16);
    font-weight: var(--FW-003);
    color: var(--TXT-001);
  }

  .product-english-name {
    font-size: var(--FS-11);
    color: var(--TXT-003);
  }

  .product-price {
    font-size: var(--FS-16);
    font-weight: var(--FW-003);
    color: var(--TXT-001);
  }

  .product-content {
    margin-top: 3px;
    font-size: var(--FS-13);
    font-weight: var(--FW-001);
    color: var(--TXT-002);
  }

  .temp-button {
    display: flex;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 16px;

    .only-hot {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 50px;
      background-color: var(--TXT-ERROR);
      color: var(--TXT-005);
    }

    .only-ice {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 50px;
      background-color: var(--TXT-SUCCESS);
      color: var(--TXT-005);
    }

    .hot-unclicked {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px 0 0 50px;
      border: 1px solid var(--LINE-003);
      width: 50%;
    }

    .hot {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px 0 0 50px;
      background-color: var(--TXT-ERROR);
      width: 50%;
      color: var(--TXT-005);
    }

    .iced-unclicked {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 50px 50px 0;
      border: 1px solid var(--LINE-003);
      width: 50%;
    }

    .iced {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 50px 50px 0;
      background-color: var(--TXT-SUCCESS);
      width: 50%;
      color: var(--TXT-005);
    }
  }
}

.menu-name-alert {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .background {
    background-color: black;
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
  }

  .my-menu {
    position: absolute;
    background-color: var(--BG-001);
    padding: 24px;
    border-radius: 10px;
    width: 80%;
    z-index: 150;

    h3 {
      font-size: var(--FS-16);
      padding: 10px 0;
      font-weight: var(--FW-003);
    }

    .menu-info {
      background-color: var(--BG-002);
      padding: 12px;

      h4 {
        font-weight: bold;
      }

      .menu-option {
        font-size: var(--FS-12);
        color: var(--TXT-003);
      }
    }

    .menu-nickname {
      padding: 10px 0;

      p {
        font-size: var(--FS-12);
      }

      input {
        border: none;
        border-bottom: 1px solid var(--LINE-003);
        width: 100%;
        padding: 10px 0;
        background: none;
      }
    }

    .button-container {
      display: flex;
      justify-content: right;

      button {
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px 20px;
        border-radius: 50px;
      }

      :nth-child(1) {
        color: var(--POINT);
        border: 1px solid var(--POINT);
      }

      :nth-child(2) {
        background-color: var(--POINT);
        color: var(--TXT-005);
      }
    }
  }
}

.product-nutrition {
  display: flex;
  padding: 12px;
  justify-content: space-between;

  p {
    font-size: var(--FS-16);
    font-weight: var(--FW-003);
  }
}

.product-allergy {
  padding: 12px;

  p {
    font-size: var(--FS-16);
    font-weight: var(--FW-003);
  }
}

.line {
  border: 1px solid var(--LINE-002);
}

.button-box {
  padding: 16px;
  background-color: var(--BG-003);

  .order-button {
    height: 30px;
    background-color: var(--POINT);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--TXT-005);
    border-radius: 50px;
    width: 100%;
  }
}

:global(.is-iframe) .spacing {
  /* Follows device cornering */
  padding: 1vh 3vh 3vh;
  gap: 2vh;
}

.option-box {
  .menu-title {
    color: var(--TXT-001);
    font-size: var(--FS-18);
    text-align: center;
    padding: 12px;
  }

  .option {
    position: absolute;
    padding-bottom: 126px;
    z-index: 1001;
    height: 90%;
    width: 100vw;
    overflow: auto;
    bottom: 0;

    .bottom-order-bar {
      position: fixed;
      z-index: 1001;
      bottom: 0;
      background-color: var(--BG-003);
      width: 100%;

      & > div {
        padding: 16px;

        & > div {
          display: flex;
          justify-content: space-between;
          font-size: var(--FS-20);
          align-items: center;
        }

        .total-cost {
          padding: 10px 0;

          .control-count {
            display: flex;

            div {
              margin-right: 24px;
            }

            .icon {
              stroke: var(--TXT-004);

              &.active {
                stroke: var(--TXT-003);
              }
            }
          }

          .total-price {
            color: var(--TXT-001);
            font-size: var(--FS-20);
            font-weight: var(--FW-003);
          }
        }

        .order-select {
          & > div {
            display: flex;

            div {
              padding: 5px 30px;
            }

            .go-cart {
              border: 1px solid var(--POINT);
              border-radius: 50px;
              font-size: var(--FS-16);
              color: var(--POINT);
            }

            .go-order {
              margin-left: 8px;
              border-radius: 50px;
              background-color: var(--POINT);
              font-size: var(--FS-16);
              color: var(--TXT-005);
            }
          }
        }
      }
    }
  }

  div {
    .option-title {
      color: var(--TXT-001);
      font-size: var(--FS-16);
      font-weight: var(--FW-002);
      margin: 16px;
    }

    .cup-size {
      margin: 16px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .cup-card {
        width: calc((100% - 20px) / 3);
        padding: 20px 10px;
        margin-right: 10px;
        color: var(--TXT-004);
        text-align: center;
        border: 1px solid var(--TXT-004);
        border-radius: 10px;

        .cup-image-box {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .cup-card-click {
        border: 2px solid var(--POINT);
        color: var(--TXT-001);
      }
    }

    .cup-kind {
      display: flex;
      width: 100%;
      padding: 0 16px;
      text-align: center;

      div {
        border: 1px solid var(--LINE-003);
        border-right: none;
        padding: 10px;
      }

      :nth-child(n) {
        flex: 1;
      }

      :nth-child(1) {
        border-radius: 50px 0 0 50px;
      }

      :nth-child(3) {
        border-radius: 0 50px 50px 0;
        border-right: 1px solid var(--LINE-003);
      }

      .click-cup {
        background-color: var(--POINT);
        color: var(--TXT-005);
      }
    }
  }
}

.nutrition-sheet {
  width: 100%;
  height: 90%;
  z-index: var(--MODAL);
  position: absolute;
  bottom: 0;
  overflow: auto;

  .title {
    padding: 24px;
    text-align: center;
    font-size: var(--FS-18);
  }

  .cupsize {
    display: flex;

    li {
      padding: 0 16px;
      font-weight: var(--FW-003);
    }
  }

  .state-bar-tall {
    position: absolute;
    padding: 2px 28px;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    background-color: var(--POINT);
  }

  .state-bar-grande {
    position: absolute;
    padding: 2px 36px;
    margin-top: 5px;
    margin-left: 60px;
    transition: all 0.2s ease-in-out;
    background-color: var(--POINT);
  }

  .state-bar-venti {
    position: absolute;
    padding: 2px 32px;
    margin-top: 5px;
    margin-left: 140px;
    transition: all 0.2s ease-in-out;
    background-color: var(--POINT);
  }

  .size {
    padding-left: 16px;
    padding-top: 24px;
    color: var(--TXT-003);
  }

  .nutrition-kind {
    padding: 16px;

    li {
      padding: 12px 0;
      display: flex;
      justify-content: space-between;

      :nth-child(2) {
        font-weight: var(--FW-003);
      }
    }

    hr {
      height: 1px;
      background-color: var(--LINE-002);
      border-style: none;
    }
  }
}
