@use '/styles/mixins/position';

.wrap {
  margin: 0;
  padding: 0;
  position: relative;

  .store-header {
    width: 100%;
    position: absolute;
    background-color: var(--BG-001);
    top: -75px;
    left: 0;

    .header-back-arrow {
      height: 19px;
      position: absolute;
      left: 24px;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
    }
  }

  .item-wrap {
    padding-bottom: 130px;
  }

  .top-wrap {
    background-color: var(--BG-006);
    padding: 19px;

    h2 {
      font-size: var(--FS-20);
      color: var(--TXT-005);
    }

    .select-store-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--LINE-004);

      .tit {
        color: var(--TXT-005);
      }
    }
  }

  .tab-wrap {
    position: relative;
    display: flex;
    border-bottom: 3px solid var(--LINE-003);

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 10px;

      &.active {
        margin-bottom: -3px;
        border-bottom: 3px solid var(--POINT);
      }

      .tit-wrap {
        pointer-events: none;
        position: relative;
        font-size: var(--FS-13);
        font-weight: 500;

        .cnt-wrap {
          @include position.absolute(-2px -17px auto auto);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;
          background-color: var(--POINT);
          border-radius: 50%;
          font-size: var(--FS-10);
          font-weight: 300;
          color: var(--TXT-005);
        }
      }
    }
  }

  .cart-wrap {
    padding: 19px;
    position: relative;

    input[type='checkbox'] {
      position: relative;
      -webkit-appearance: none;
      width: 17px;
      height: 17px;
      border: 1px solid var(--POINT);
      border-radius: 3px;

      &:checked {
        background-color: var(--POINT);
      }

      &::after {
        pointer-events: none;
        content: url('/assets/svg/icon-check.svg');
        @include position.absolute(-4px 4px auto auto);
        width: 10px;
      }
    }

    .tit-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      h3 {
        font-size: var(--FS-16);
      }

      span {
        font-size: var(--FS-12);
        color: var(--TXT-003);

        strong {
          font-size: var(--FS-14);
          font-weight: bold;
          color: var(--POINT);
        }
      }
    }

    .check-option-wrap {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      .all-check-wrap {
        display: flex;
        position: relative;

        input[type='checkbox'] {
          @include position.absolute(1px auto auto 0);
        }

        label {
          margin-left: 25px;
          font-size: var(--FS-12);
          font-weight: 300;
          color: var(--TXT-003);
        }
      }

      .delete-btn-wrap {
        button {
          position: relative;
          font-size: var(--FS-12);
          font-weight: 300;
          color: var(--TXT-003);

          ~button {
            margin-left: 15px;
          }

          &:first-child::after {
            @include position.absolute(4.5px -8px auto auto);
            display: block;
            content: ' ';
            height: 10px;
            width: 1px;
            background-color: var(--LINE-004);
          }
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 8px;
      background-color: var(--BG-003);
    }
  }

  .footer {
    @include position.fixed(auto 0 50px 0);
    height: 130px;
    padding: 24px 19px;
    background-color: var(--BG-002);
    border-top: 1px solid var(--LINE-002);

    .price-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .check-cnt {
        font-size: var(--FS-14);
        font-weight: 500;
        color: var(--TXT-003);

        strong {
          font-size: var(--FS-16);
          color: var(--POINT);
        }
      }

      .total-price {
        font-size: var(--FS-18);
        font-weight: 500;
        color: var(--TXT-001);
      }
    }

    .btn {
      display: block;
      width: 100%;
      padding: 8px;
      text-align: center;
      font-size: var(--FS-13);
      font-weight: 300;
      border-radius: 20px;
      color: var(--TXT-005);
      background-color: var(--POINT);

      &.disable {
        background-color: var(--BG-007);
      }
    }
  }
}