@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  @include position.fixed(0 0 0 0);
  background-color: variable.$BG-001;
  z-index: variable.$MODAL;

  .tit-wrap {
    padding: 25px 0 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 0;
      color: variable.$TXT-001;
    }
    .close-btn {
      @include position.absolute(28px 22px auto auto);
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid variable.$LINE-003;
    .left {
      strong {
        margin-bottom: 3px;
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: variable.$TXT-001;
      }
      span {
        display: block;
        font-size: 11px;
        color: variable.$TXT-003;
      }
    }
    img {
      width: 20px;
    }
  }
  .btn-wrap {
    @include position.absolute(auto 0 0 0);
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-top: 15px;
    height: 80px;
    background-color: variable.$BG-001;

    button {
      width: 43%;
      height: 40px;
      background-color: variable.$RANK-003;
      color: variable.$TXT-005;
      border-radius: 30px;

      &.cancel-btn {
        background-color: variable.$BG-001;
        color: variable.$RANK-003;
        border: 1px solid variable.$RANK-003;
      }
    }
  }
}
