@use '/styles/mixins/position';

.wrap {
  @include position.fixed(0 0 0 0);
  background-color: var(--BG-001);
  z-index: var(--MODAL);

  .tit-wrap {
    padding: 25px 0 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 0;
      color: var(--TXT-001);
    }
    .close-btn {
      @include position.absolute(28px 22px auto auto);
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .btn-wrap {
    @include position.absolute(auto 0 0 0);
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-top: 15px;
    height: 80px;
    background-color: var(--BG-001);

    button {
      width: 43%;
      height: 40px;
      background-color: var(--RANK-003);
      color: var(--TXT-005);
      border-radius: 30px;

      &.cancel-btn {
        background-color: var(--BG-001);
        color: var(--RANK-003);
        border: 1px solid var(--RANK-003);
      }
    }
  }
}
