@use '/styles/mixins/position';

.wrap {
  width: 100%;
  height: 90%;
  padding: 0 20px;
  position: absolute;
  z-index: var(--MODAL);
  bottom: 0;
  overflow: auto;
  margin-bottom: 30px;

  .img-wrap {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;

    img {
      width: 100%;
      max-width: 600px;
    }
  }

  .tit-wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    h2 {
      margin: 10px 0 0;
      font-size: var(--FS-16);
      font-weight: 700;
      color: var(--TXT-001);
    }

    .tit-address-wrap {
      display: flex;
      column-gap: 40px;
      align-items: baseline;

      p {
        font-size: var(--FS-13);
        color: var(--TXT-003);
      }
    }
  }

  .time-wrap {
    margin: 15px 0;

    .time-tit-wrap {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
        font-size: var(--FS-13);
        color: var(--TXT-002);
      }
    }

    .time-sub-wrap {
      display: flex;
      align-items: center;
      margin-left: 30px;

      span {
        margin-left: 6px;
        font-size: var(--FS-13);
        font-weight: var(--FW-001);
        color: var(--TXT-003);

        strong {
          margin-right: 7px;
          color: var(--TXT-002);
        }
      }
    }
  }

  button {
    @include position.absolute(auto 0 0 0);
    display: block;
    margin: 0 19px;
    padding: 8px;
    text-align: center;
    font-size: var(--FS-13);
    font-weight: 300;
    border-radius: 20px;
    color: var(--TXT-005);
    background-color: var(--POINT);

    &.disable {
      background-color: var(--BG-007);
    }
  }
}
