@use '/styles/mixins/position';

.wrap {
  width: 100%;
  height: 90%;
  z-index: var(--MODAL);
  position: absolute;
  bottom: 0;
  overflow: auto;

  h2 {
    margin-bottom: 10px;
    font-size: var(--FS-16);
    font-weight: 700;
    color: var(--TXT-001);
    text-align: center;
  }

  .input-wrap {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 15px 0;

    input[type='radio'] {
      margin-right: 5px;
      accent-color: var(--POINT);
    }

    label {
      font-weight: bold;
      color: var(--TXT-001);
    }
  }

  .card-info-wrap {
    padding: 30px 20px;
    margin-bottom: 20px;
    background-color: var(--BG-003);
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .selectbox-wrap {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        padding: 10px 36px 8px 15px;
        padding: 10px 17px 8px 15px\9;
        margin-top: 10px;
        width: 100%;
        height: 35px;
        font-size: 13px;
        line-height: 15px;
        color: var(--TXT-003);
        border: 1px solid var(--LINE-003);
        border-radius: 0;
        background-color: var(--BG-002);

        option {
          font-weight: normal;
          display: block;
          white-space: nowrap;
          min-height: 1.2em;
          padding: 0px 2px 1px;
        }
      }

      .card-data-wrap {
        position: relative;
      }

      .installment-plan-wrap {
        position: relative;
      }

      img {
        @include position.absolute(37px 8px auto auto);
        pointer-events: none;
      }
    }

    label {
      color: var(--TXT-002);
    }

    input[type='text'] {
      width: 100%;
      height: 35px;
      padding: 10px 36px 10px 15px;
      color: var(--TXT-003);
      border: 1px solid var(--LINE-003);
      border-radius: 0;
      background-color: var(--BG-002);
      font-size: 13px;
      line-height: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &::placeholder {
        color: var(--TXT-003);
      }
    }
  }

  .btn-wrap {
    width: 100%;
  }
}