@use '/styles/mixins/position';

.content-wrap {
  .sub-tit {
    display: inline-block;
    padding: 25px 0 0 19px;
    font-size: var(--FS-11);
    font-weight: 300;
    color: var(--TXT-003);
  }
  .level-wrap {
    padding: 19px 19px 25px 19px;
    border-bottom: 1px solid var(--LINE-003);

    &.first {
      padding-top: 0;
    }
    .level-tit-wrap {
      display: flex;
      align-items: baseline;
      margin-bottom: 7px;

      .level-icon-wrap {
        margin-top: 2px;
      }
      .level-tit {
        margin: 0 5px;
        font-size: var(--FS-21);
        color: var(--RANK-001);
        &.e {
          color: var(--RANK-002);
          ~ .kor-name {
            color: var(--RANK-002);
          }
        }
        &.pe {
          color: var(--RANK-003);
          ~ .kor-name {
            color: var(--RANK-003);
          }
        }
      }
      .kor-name {
        font-size: 12px;
        font-weight: 400;
        color: var(--RANK-001);
      }
    }
    .level-content-wrap {
      display: flex;
      align-items: center;
      column-gap: 15px;
      width: 100%;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: var(--BG-003);
      ~ .level-content-wrap {
        margin-top: 8px;
      }
      .img-wrap {
        margin-top: 2px;
        color: var(--RANK-003);
      }
      .content {
        font-size: var(--FS-12);
        color: var(--TXT-002);
      }
    }
  }
}
