@use '/styles/mixins/animation';

.logo-wrap {
  margin-bottom: 20px;
}

.welcome {
  margin-bottom: 4px;
  font-size: var(--FS-20);
  font-weight: bold;
  color: var(--TXT-001);
}

.desc {
  margin-bottom: 30px;
  font-size: var(--FS-14);
  color: var(--TXT-002);
}

.link-box {
  text-align: center;

  button {
    position: relative;
    color: var(--TXT-003);
    font-size: var(--FS-10);

    & ~ button {
      margin-left: 8px;
    }
    & ~ ::after {
      content: '';
      position: absolute;
      top: 4px;
      left: -4px;
      width: 0.5px;
      height: 8px;
      background-color: var(--LINE-003);
    }
  }
}
.login-button {
  display: block;
  width: 100%;
  margin: 50px 0;
  padding: 8px;
  text-align: center;
  font-size: var(--FS-14);
  font-weight: 400;
  border-radius: 20px;
  color: var(--TXT-005);
  background-color: var(--POINT);
}
