@use '/styles/mixins/animation';

.logo-wrap {
  margin-bottom: 20px;
}

.welcome {
  margin-bottom: 4px;
  font-size: var(--FS-20);
  font-weight: bold;
  color: var(--TXT-001);
}

.desc {
  margin-bottom: 30px;
  font-size: var(--FS-14);
  color: var(--TXT-002);
}

.link-box {
  text-align: center;
  color: var(--TXT-003);
  font-size: var(--FS-10);

  & > a {
    margin: 0 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: -10px;
      width: 1px;
      height: 10px;
      background-color: var(--LINE-003);
    }

    &:first-child::after {
      content: '';
      display: none;
    }
  }
}
.login-button {
  display: block;
  width: 100%;
  margin: 50px 0;
  padding: 8px;
  text-align: center;
  font-size: var(--FS-14);
  font-weight: 400;
  border-radius: 20px;
  color: var(--TXT-005);
  background-color: var(--POINT);
}
