@use '/styles/mixins/position';

.wrap {
  height: calc(100vh - 100px);
  padding: 19px;
  background-color: var(--BG-003);

  h2 {
    margin-bottom: 50px;
  }

  .info-wrap {
    padding: 15px 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--BG-001);

    .info {
      margin-bottom: 10px;
      font-size: var(--FS-16);
      font-weight: bold;
    }

    .btn-box {
      text-align: right;

      .btn {
        margin: 0 4px;
        padding: 4px 10px;
        text-align: center;
        font-size: var(--FS-14);
        font-weight: 400;
        border-radius: 20px;
        color: var(--TXT-005);
        background-color: var(--POINT);
      }

      .login-btn {
        border: 1px solid var(--POINT);
        color: var(--POINT);
        background-color: var(--BG-001);
      }
    }
  }

  .welcome-msg {
    font-size: var(--FS-24);
    text-align: center;
    line-height: 1.2;

    strong {
      font-weight: 700;
    }
  }

  .menu-btn-li-wrap {
    margin: 30px 0 20px;
    display: flex;
    justify-content: space-between;
    row-gap: 15px;
    flex-wrap: wrap;
    width: 100%;

    .menu-btn-li {
      width: 30%;

      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button,
      .button {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        width: 100%;
        height: 100px;
        border-radius: 10px;
        background-color: var(--BG-001);

        .icon {
          fill: var(--TXT-004);
        }

        .noctem {
          width: 40px;
          pointer-events: none;
        }

        span {
          // @include position.absolute(auto auto 10px auto);
          margin-top: 5px;
          font-size: var(--FS-13);
          color: var(--TXT-001);
        }
      }
    }
  }

  .logout-btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: var(--TXT-002);
  }
}
