@use '/styles/base/variable';

.wrap {
  padding: 19px;
  background-color: variable.$BG-002;

  .info-wrap {
    padding: 15px 15px 20px;
    margin-bottom: 15px;
    background-color: variable.$BG-001;
    box-shadow: 1px 1px 5px rgba(variable.$BG-004, 0.3);
    border-radius: 10px;

    .info {
      margin-bottom: 10px;
      font-size: variable.$FS-16;
      font-weight: bold;
    }

    .btn-box {
      text-align: right;

      .btn {
        margin: 0 4px;
        padding: 4px 10px;
        text-align: center;
        font-size: variable.$FS-14;
        font-weight: 400;
        background-color: red;
        border-radius: 20px;
        color: variable.$TXT-005;
        background-color: variable.$POINT;
      }

      .signUp-btn {}

      .login-btn {
        border: 1px solid variable.$POINT;
        color: variable.$POINT;
        background-color: variable.$BG-001
      }
    }
  }

  .welcome-msg {
    font-size: variable.$FS-24;
    text-align: center;
    line-height: 1.2;

    strong {
      font-weight: 700;
    }
  }

  .menu-btn-li-wrap {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    row-gap: 15px;
    flex-wrap: wrap;
    width: 100%;

    .menu-btn-li {
      width: 30%;

      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button,
      .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110px;
        border-radius: 10px;
        background-color: variable.$BG-001;
        box-shadow: 1px 1px 5px rgba(variable.$BG-004, 0.3);

        span {
          margin-top: 5px;
          font-size: variable.$FS-13;
        }
      }
    }
  }

  .menu-li-wrap {
    .menu-wrap {
      padding: 10px 0;

      &~.menu-wrap {
        border-top: 1px solid variable.$LINE-003;
      }

      h3 {
        margin-bottom: 10px;
      }

      .sub-menu-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
          width: 50%;
          line-height: 2;
          padding-left: 20px;
          color: variable.$TXT-002;
        }
      }

      .qna {
        padding-left: 20px;
      }
    }
  }

  .logout-btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: variable.$TXT-003;
  }
}