@use '/styles/mixins/position';

.content-wrap {
  .level-wrap {
    padding: 19px;
    .sub-tit {
      font-size: var(--FS-11);
      font-weight: 300;
      color: var(--TXT-003);
    }
    .level-tit-wrap {
      display: flex;
      align-items: center;

      .level-icon-wrap {
        margin-top: 4px;
      }
      .level-tit {
        margin: 0 10px 0 5px;
        font-size: var(--FS-21);
        color: var(--RANK-001);
      }
      .potion {
        color: var(--RANK-001);
      }
      .elixir {
        color: var(--RANK-002);
      }
      .power-elixir {
        color: var(--RANK-003);
      }
    }
    .hp-info-wrap {
      .hp-info-content {
        font-size: var(--FS-12);
        font-weight: 200;
        color: var(--TXT-004);
        .current-hp {
          margin-right: 3px;
          font-size: var(--FS-21);
          font-weight: 500;
          color: var(--TXT-001);
        }
        .max-hp {
          margin: 0 5px;
          font-size: var(--FS-14);
          font-weight: 400;
          color: var(--POINT);
        }
      }
    }
    .progress-bar-wrap {
      position: relative;
      display: flex;
      align-items: center;
      width: 98.5%;
      height: 12px;
      border: 2px solid var(--LINE-003);
      border-radius: 2.5px;

      &::after {
        @include position.absolute(1px -4.5px auto auto);
        content: ' ';
        width: 1.5px;
        height: 7px;
        background-color: var(--LINE-003);
      }
      .progress-bar {
        width: 5%;
        height: 6px;
        margin: 0 1px;
        background-color: var(--POINT);
        border-radius: 0.5px;
      }
    }
  }
  .level-info-wrap {
    width: 100%;
    padding: 10px 0 10px 19px;
    background-color: var(--BG-003);
    p {
      font-size: var(--FS-11);
      color: var(--TXT-002);
    }
  }
  .favorite-wrap {
    padding: 19px;

    span {
      display: block;
      font-size: var(--FS-14);
      color: var(--TXT-003);
      strong {
        font-weight: bold;
      }
    }
    h3 {
      display: inline-block;
      margin-top: 8px;
      padding: 1px 12px;
      background-color: var(--BG-003);
      font-size: 22px;
      color: var(--TXT-002);
    }
    .img-wrap {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
