@use '/styles/mixins/position';

.wrap {
  width: 100%;
  height: 90%;
  padding: 0 20px 75px;
  z-index: var(--MODAL);
  position: absolute;
  bottom: 0;
  overflow: auto;
  background-color: var(--BG-002);

  h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .img-wrap {
    display: block;

    .img {
      display: block;
    }
  }

  .sub-tit-wrap {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--LINE-002);

    .tit-wrap {
      display: flex;
      align-items: center;
      color: var(--TXT-001);

      h3 {
        font-size: var(--FS-16);
        font-weight: 700;
        color: var(--TXT-001);
      }

      span {
        margin-left: 5px;
        font-size: var(--FS-10);
        color: var(--TXT-003);
      }
    }

    .tit-address-wrap {
      display: flex;
      column-gap: 40px;
      align-items: flex-start;
      justify-content: space-between;

      p {
        margin-top: 5px;
        font-size: var(--FS-12);
        color: var(--TXT-002);
      }

      button {
        img {
          width: 20px;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .order-info-wrap {
    margin-bottom: 30px;
    background-color: var(--BG-003);
    padding: 15px;

    li {
      font-size: var(--FS-12);
      color: var(--TXT-003);

      & ~ li {
        margin-top: 20px;
      }
    }
  }

  .tooltip-wrap {
    @include position.fixed(auto 10px 85px auto);
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--POINT);

    &::after {
      @include position.fixed(auto 40px 68px auto);
      display: inline-block;
      content: ' ';
      width: 0;
      height: 0;
      border-bottom: 10px solid transparent;
      border-top: 10px solid var(--POINT);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    p {
      font-size: var(--FS-12);
      line-height: 1.5;
      color: var(--TXT-005);
    }
  }

  .btn-wrap {
    @include position.fixed(auto 0 0 0);
    background-color: var(--BG-001);
    padding: 15px 19px 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 0 4px -4px var(--BG-006);

    button {
      width: 48.5%;
      padding: 8px;
      font-size: var(--FS-13);
      font-weight: 300;
      border-radius: 20px;
      color: var(--TXT-005);
      background-color: var(--POINT);
    }

    .cancel-btn {
      color: var(--POINT);
      background-color: var(--BG-001);
      border: 1px solid var(--POINT);
      box-sizing: border-box;
    }
  }
}
