@use '/styles/mixins/position';

.wrap {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  overflow: auto;
  z-index: var(--MODAL);
  background-color: var(--BG-003);

  .top-wrap {
    padding: 20px;
    background-color: var(--BG-001);

    .tit-wrap {
      position: relative;

      .store {
        font-size: var(--FS-16);
        font-weight: 500;
        color: var(--POINT);
      }

      .order-status {
        color: var(--TXT-001);
        font-size: var(--FS-26);
        word-break: keep-all;
        line-height: 1.3;
      }

      .remain-time-wrap {
        width: fit-content;
        border-radius: 10px;
        background-color: var(--BG-004);
        padding: 0 10px;
        margin-bottom: 10px;

        p {
          line-height: 1.6;
          text-align: center;
          font-size: var(--FS-12);
          font-weight: 300;
          color: var(--TXT-005);

          strong {
            font-weight: bold;
            font-size: var(--FS-14);
          }
        }
      }

      .content {
        font-size: var(--FS-16);
        color: var(--TXT-003);
      }
    }

    .progress-bar-wrap {
      margin-top: 15px;

      .content-wrap {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3px;

        li {
          font-size: var(--FS-12);
          color: var(--TXT-003);

          &.active {
            font-weight: bold;
            color: var(--TXT-001);
          }
        }
      }

      .bar-wrap {
        position: relative;

        .base-bar {
          width: 100%;
          height: 8px;
          border-radius: 4px;
          background-color: var(--BG-003);
        }

        .progress-bar {
          @include position.absolute(0 auto auto 0);
          width: 33.3%;
          height: 8px;
          border-radius: 4px;
          background-color: var(--POINT);

          &.prepare {
            width: 66.6%;
          }

          &.done {
            width: 100%;
          }
        }
      }
    }
  }

  .bottom-wrap {
    padding: 19px;

    h3 {
      margin-bottom: 10px;
      font-size: var(--FS-17);
    }

    .menu-list-wrap {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }

    .btn-wrap {
      display: flex;
      flex-direction: row;

      .btn {
        flex: 1;
        padding: 8px;
        text-align: center;
        font-size: var(--FS-13);
        font-weight: 300;
        border-radius: 20px;
        background-color: var(--POINT);
      }

      .btn-cancel {
        margin-right: 10px;
        color: var(--POINT);
        border: 1px solid var(--POINT);
        background-color: transparent;
      }

      .m-r-10 {
        margin-right: 10px
      }

      .btn-success {
        color: var(--POINT);
        border: 1px solid var(--POINT);
        background-color: transparent;
      }

      .btn-confirm {
        color: var(--TXT-005);
        background-color: var(--POINT);
      }
    }
  }
}