@use '/styles/mixins/position';

.wrap {
  position: relative;
  padding-bottom: 50px;

  .tit {
    padding-top: 20px;
    font-size: var(--FS-16);
    font-weight: bold;
    color: var(--TXT-001);
  }

  form {
    padding: 0 19px;

    .list-wrap {
      li {
        padding: 15px 0;
      }

      .pay-method-wrap {
        padding-bottom: 5px;

        h3 {
          margin-bottom: 10px;
        }

        .payment-wrap {
          display: flex;
          padding: 10px 0;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .left {
            display: flex;
            align-items: center;

            p {
              line-height: 0.9;
              font-size: var(--FS-15);
              font-weight: 700;
            }
          }

          .card-info {
            font-size: var(--FS-12);
            color: var(--TXT-003);
          }
        }
      }

      .order-info-wrap {
        position: relative;

        h3 {
          margin-bottom: 20px;
        }

        .order-info {
          display: flex;

          .img-wrap {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;
          }

          .order-info-text-wrap {
            width: 100%;

            .order-item-wrap {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: var(--FW-002);

              p {
                font-size: var(--FS-11);
                color: var(--TXT-001);
              }

              span {
                color: var(--TXT-001);
              }
            }

            .order-option-wrap {
              margin-top: 2px;
              display: flex;
              justify-content: space-between;
              color: var(--TXT-003);

              p {
                font-size: var(--FS-11);
              }

              span {
                font-size: var(--FS-12);
              }
            }
          }
        }

        .wide-bg {
          width: calc(100% + 38px);
          height: 100%;
          position: absolute;
          left: -19px;
          top: 0;
          background-color: var(--BG-002);
          z-index: -1;
        }
      }

      .price-info-wrap {
        dl {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          align-items: center;

          dt {
            color: var(--TXT-001);
            font-weight: bold;
          }

          dd {
            font-size: var(--FS-18);
            font-weight: bold;
          }
        }

        .total-price-wrap {
          margin-top: 10px;

          dt {
            font-size: var(--FS-16);
          }

          dd {
            font-size: var(--FS-24);
          }
        }
      }
    }
  }
}
