@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  width: 100vw;
  height: 90%;
  z-index: variable.$MODAL;
  position: absolute;
  bottom: 0;
  overflow: auto;
  background-color: variable.$BG-001;

  .top-wrap {
    padding: 20px;

    .tit-wrap {
      position: relative;

      .store {
        font-size: variable.$FS-16;
        font-weight: 500;
        color: variable.$POINT;
      }

      .order-status {
        color: variable.$TXT-001;
        font-size: variable.$FS-26;
        word-break: keep-all;
        line-height: 1.3;
      }

      .remain-time-wrap {
        width: fit-content;
        border-radius: 16px;
        background-color: variable.$POINT;
        padding: 0 10px;
        margin-bottom: 10px;

        p {
          line-height: 1.6;
          text-align: center;
          font-size: variable.$FS-12;
          font-weight: 300;
          color: variable.$TXT-005;

          strong {
            font-weight: bold;
            font-size: variable.$FS-14;
          }
        }
      }

      .content {
        font-size: variable.$FS-16;
        color: variable.$TXT-003;
      }
    }

    .progress-bar-wrap {
      margin-top: 15px;

      .content-wrap {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3px;

        li {
          font-size: variable.$FS-12;
          color: variable.$TXT-003;

          &.active {
            font-weight: bold;
            color: variable.$TXT-001;
          }
        }
      }

      .bar-wrap {
        position: relative;

        .base-bar {
          width: 100%;
          height: 8px;
          border-radius: 4px;
          background-color: variable.$BG-003;
        }

        .progress-bar {
          @include position.absolute(0 auto auto 0);
          width: 33.3%;
          height: 8px;
          border-radius: 4px;
          background-color: variable.$POINT;

          &.prepare {
            width: 66.6%;
          }

          &.done {
            width: 100%;
          }
        }
      }
    }
  }

  .bottom-wrap {
    background-color: variable.$BG-003;
    padding: 19px;

    h3 {
      margin-bottom: 10px;
      font-size: variable.$FS-17;
    }

    .take-out-option {
      width: 100%;
      padding: 5px 15px;
      background-color: variable.$BG-005;

      p {
        font-size: variable.$FS-13;
        color: variable.$TXT-006;
      }
    }

    .menu-list-wrap {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      .menu-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0;

        .img-wrap {
          width: 70px;
          height: 70px;
          display: inline-block;
          border-radius: 5px;
          overflow: hidden;
          margin-right: 10px;
        }

        .order-contents-wrap {
          width: calc(100% - 80px);

          .order-tit {
            font-size: variable.$FS-17;
            font-weight: bold;
            color: variable.$TXT-001;
          }

          .order-option {
            font-size: variable.$FS-12;
            color: variable.$TXT-001;
          }
        }
      }
    }

    .btn-wrap {
      display: flex;
      flex-direction: row;

      .btn {
        flex: 1;
        padding: 8px;
        text-align: center;
        font-size: variable.$FS-13;
        font-weight: 300;
        border-radius: 20px;
        background-color: variable.$POINT;
      }

      .btn-cancel {
        margin-right: 10px;
        color: variable.$POINT;
        border: 1px solid variable.$POINT;
        background-color: transparent;
      }

      .btn-confirm {
        color: variable.$TXT-005;
        background-color: variable.$POINT;
      }
    }
  }
}