@use '/styles/base/variable';
@use '/styles/mixins/position';

.wrap {
  h2 {
    padding: 19px 0 0 19px;
    font-weight: bold;
  }
  .tab-wrap {
    position: relative;
    width: 100%;
    border-bottom: 3px solid variable.$LINE-003;

    button {
      width: 110px;
      padding: 5px 19px;
      font-size: variable.$FS-12;
      font-weight: bold;
      color: variable.$TXT-003;

      &.active {
        color: variable.$TXT-001;
        &:nth-child(2) ~ .bar {
          margin-left: 110px;
        }
      }
    }
    .bar {
      @include position.absolute(auto auto 0 0);
      width: 110px;
      height: 3px;
      background-color: variable.$POINT;
      transition: all 0.2s ease-in-out;
    }
  }
}
