@use '/styles/mixins/position';

.wrap {
  padding: 0 19px;

  .title {
    margin: 25px 0 15px;
    font-size: var(--FS-16);
    font-weight: bold;
    color: var(--TXT-001);
  }

  .search-input-wrap {
    position: relative;

    input[type='text'] {
      width: 100%;
      border: none;
      padding: 5px 30px;
      border-radius: 2px;
      background-color: var(--BG-003);

      &::placeholder {
        font-size: var(--FS-13);
        color: var(--TXT-003);
      }
    }

    .img-wrap {
      position: absolute !important;
      top: 7px !important;
      left: 9px !important;
    }
  }

  .filter-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px 0 20px;

    button {
      flex: 0 0 auto;
      padding: 5px 10px;
      font-size: var(--FS-12);
      border-radius: 5px;
      border: 1px solid var(--LINE-003);
      color: var(--TXT-003);

      ~ button {
        margin-left: 10px;
      }
    }
  }

  .tab-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--LINE-002);

    button {
      font-size: var(--FS-13);
      font-weight: 300;
      color: var(--TXT-003);
      margin-right: 8px;

      &:first-child::after {
        margin-left: 8px;
        display: inline-block;
        content: ' ';
        width: 1px;
        height: 10px;
        background-color: var(--BG-007);
      }

      &.active {
        color: var(--TXT-002);
        font-weight: bold;
      }
    }
  }
}

.modal-wrap {
  position: absolute;
  padding-bottom: 126px;
  z-index: 1001;
  height: 90%;
  width: 100vw;
  background-color: var(--BG-001);
  bottom: 0;
  overflow: auto;
}
