@use '/styles/mixins/position';

.wrap {
  background-color: var(--BG-001);
  padding: 19px;
  transition: 0.2s;
  .setting-li-wrap {
    margin-top: 40px;
    .setting-li {
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & ~ .setting-li {
        border-top: 1px solid var(--LINE-003);
      }

      label {
        font-size: var(--FS-15);
      }
    }
  }
}
