.header-wrap {
  position: relative;
  height: 50px;
  border-bottom: 1px solid var(--LINE-002);
  background-color: var(--BG-002);

  .header-back-arrow {
    height: 19px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
  }

  .header-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
