@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@mixin animation($delay, $duration, $animationName, $direction: forward, $fillmode: fowards) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animationName;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@include keyframe(animation-slide-in-left) {
  0% {
    transform: translate(-100%, 0);
    border-bottom: 2px solid red;
  }

  100% {
    transform: translate(0, 0);
    border-bottom: 12px solid red;
  }
}