@use '/styles/base/variable';

.signup-header-wrap {
  position: relative;
  height: 40px;

  .close-icon-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .progress {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stepper-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      font-size: variable.$FS-10;

      &.completed {
        .step-counter {
          color: #FFF;
          background-color: variable.$POINT;
        }

        &::after {
          position: absolute;
          content: "";
          border-bottom: 2px solid variable.$POINT;
          width: 100%;
          top: 7px;
          left: 50%;
          z-index: 3;
        }
      }

      &::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid variable.$LINE-003;
        width: 100%;
        top: 7px;
        left: -50%;
        z-index: 2;
      }

      &:first-child::before {
        content: none;
      }

      &:last-child::after {
        content: none;
      }

      .step-counter {
        width: 14px;
        height: 14px;
        margin-bottom: 6px;
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid variable.$POINT;
        border-radius: 50%;
        background-color: #FFF;
      }
    }
  }
}