@use '/styles/base/variable';

.point-box {
  margin: 24px;

  .title {
    font-weight: bold;

    span {
      font-size: 22px;
    }
  }

  .point-bar {
    display: flex;
    justify-content: space-between;

    & {
      .progress-bar {
        position: absolute;
        width: 70%;
        height: 6px;

        /* line002 */

        background: #eeeeee;
        border-radius: 13.5px;
      }

      .my-progress-bar {
        position: absolute;
        width: 30%;
        height: 6px;

        background: variable.$POINT;
        border-radius: 13.5px;
      }
    }

    .my-score {
      color: variable.$POINT;

      span {
        font-size: 22px;
        color: variable.$TXT-001;
      }
    }
  }
}

.my-menu {
  margin: 24px;

  .title {
    font-weight: bold;
  }

  .card {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(98, 98, 98, 0.25);
    border-radius: 5px;

    color: variable.$TXT-003;
    text-align: center;
    padding: 50px 66px;
  }

  .my-menu-true {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(98, 98, 98, 0.25);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;

    div {
      .my-menu-title {
        color: variable.$TXT-001;
      }

      .my-menu-kind {
        color: variable.$TXT-003;
        font-size: 12px;
      }

      .my-menu-detail {
        color: variable.$TXT-002;
        font-size: 12px;
      }
    }

    div {
      .img {
        margin: 24px;
      }

      .order-button {
        background-color: variable.$TXT-001;
        color: variable.$TXT-005;
        border-radius: 13px;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.nearly-store {
  margin: 24px;

  .title {
    font-weight: bold;
  }

  & > .card {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(98, 98, 98, 0.25);
    border-radius: 5px;

    color: variable.$TXT-003;
    text-align: center;
    padding: 8px;

    display: flex;

    .store-img {
      padding: 40px;
    }

    .text-space {
      text-align: left;

      .store-name {
        color: variable.$TXT-001;
      }

      .store-address {
        color: variable.$TXT-003;
        font-size: 12px;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 12px;
        margin-top: auto;

        span {
          color: variable.$TXT-001;
          font-size: 22px;
        }
      }

      :nth-child(2) {
        color: variable.$TXT-001;
      }
    }
  }
}

.recommend-menu {
  overflow: hidden;

  .title {
    font-weight: bold;
    margin: 0 0 0 24px;
  }

  div {
    border-radius: max;
  }
}

.recommended {
  display: flex;
  width: 100vw;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  .recommended-menu {
    margin: 8px;
    text-align: center;
    min-width: 120px;
    width: 120px;

    img {
      width: 100%;
      border-radius: 50%;
    }

    .recommended-menu-text {
      color: variable.$TXT-002;
      font-size: 12px;
    }
  }
}
