@use './variable';
@use '../mixins/position';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

// font
body,
button,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: variable.$FS-14;
  font-weight: $FW-001;
  color: $TXT-001;
  line-height: 1.5;
  box-sizing: border-box;
  font-feature-settings: 'tnum';
}

input[type='number'] {
  font-feature-settings: 'tnum';
}

// heading
h2 {
  margin-bottom: 20px;
  font-size: variable.$FS-16;
  font-weight: bold;
  color: variable.$TXT-001;
}

h3 {
  font-size: variable.$FS-14;
  font-weight: bold;
  color: variable.$TXT-001;
}

// button
.btn {
  @include position.absolute(auto 0 auto 0);
  display: block;
  margin: 0 19px;
  padding: 8px;
  text-align: center;
  font-size: variable.$FS-14;
  font-weight: 400;
  border-radius: 20px;
  color: variable.$TXT-005;
  background-color: variable.$POINT;
}

.btn-bottom {
  @include position.absolute(auto 0 35px 0);
}

.btn-disable {
  background-color: variable.$BG-004;
  cursor: default;
}

.btn-fixed {
  position: fixed !important;
}

// layout
.wrap {
  margin-top: 20px;
  margin-bottom: 75px;
  padding: 0 18px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: variable.$LINE-002;
}

// input
.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: variable.$FS-14;
  border: none;
  border-bottom: 1px solid variable.$LINE-003;

  &::placeholder {
    color: variable.$TXT-004;
  }

  &:focus {
    border-bottom: 1px solid variable.$POINT;
    // @include animation.animation(0, 0.5s, animation-slide-in-left, ease);
  }
}