// 폰트 사이즈
$FS-32: 32px;
$FS-24: 24px;
$FS-21: 21px;
$FS-20: 20px;
$FS-18: 18px;
$FS-17: 17px;
$FS-16: 16px;
$FS-15: 15px;
$FS-14: 14px;
$FS-13: 13px;
$FS-12: 12px;
$FS-11: 11px;
$FS-10: 10px;

// 폰트 두께
$FW-001: 400;
$FW-002: 500;
$FW-003: 600;

// 레벨
$TOOLBAR: 1000;
$MODAL: 2000;
$MODAL-BACK: 1500;
$POPUP: 3000;
$POPUP-BACK: 2500;
