// 폰트 사이즈
$FS-20: 20px;
$FS-18: 18px;
$FS-16: 16px;
$FS-15: 15px;
$FS-14: 14px;
$FS-13: 13px;
$FS-12: 12px;
$FS-11: 11px;
$FS-10: 10px;

// 폰트 두께
$FW-001: 400;
$FW-002: 500;
$FW-003: 600;

// 폰트 색상
$TXT-001: #222;
$TXT-002: #626262;
$TXT-003: #909090;
$TXT-004: #DADADA;
$TXT-005: #FFF;
$TXT-006: #444;

// 배경 색상
$BG-001: #FFF;
$BG-002: #F9F9F9;
$BG-003: #F1F1F1;
$BG-004: #8D8D8D;
$BG-005: #E2E2E2;
$BG-006: #222222;
$BG-007: #DADADA;
$BG-008: #F5F5F5;

$BG-ALPA-001: rgba(246, 246, 246, 0.12);
$BG-ALPA-002: rgba(0, 0, 0, 0.6);

// 선 색상
$LINE-001: #FFF;
$LINE-002: #EEE;
$LINE-003: #DADADA;
$LINE-004: #7A7A7A;

// 포인트 색상
$POINT: #806C59;

// 그림자
$BOX-SHADOW-ITEM: 0px 2px 4px rgba(98, 98, 98, 0.25);
$BOX-SHADOW-TOOLBAR: 0px 0px 4px rgba(0, 0, 0, 0.2);

// 레벨
$TOOLBAR: 1000;