// 폰트 사이즈
$FS-32: 32px;
$FS-24: 24px;
$FS-21: 21px;
$FS-20: 20px;
$FS-18: 18px;
$FS-17: 17px;
$FS-16: 16px;
$FS-15: 15px;
$FS-14: 14px;
$FS-13: 13px;
$FS-12: 12px;
$FS-11: 11px;
$FS-10: 10px;

// 폰트 두께
$FW-001: 400;
$FW-002: 500;
$FW-003: 600;

// 폰트 색상
$TXT-001: #222;
$TXT-002: #626262;
$TXT-003: #909090;
$TXT-004: #dadada;
$TXT-005: #fff;
$TXT-006: #444;

$TXT-ERROR: #ff4a4a;
$TXT-SUCCESS: #4a7dff;

// 배경 색상
$BG-001: #fff;
$BG-002: #f9f9f9;
$BG-003: #f1f1f1;
$BG-004: #8d8d8d;
$BG-005: #e2e2e2;
$BG-006: #222222;
$BG-007: #dadada;
$BG-008: #f5f5f5;
$BG-009: #1b3c35;

$BG-ALPA-001: rgba(246, 246, 246, 0.12);
$BG-ALPA-002: rgba(0, 0, 0, 0.6);

// 선 색상
$LINE-001: #fff;
$LINE-002: #eee;
$LINE-003: #dadada;
$LINE-004: #7a7a7a;

// 포인트 색상
$POINT: #536173;

// 그림자
$BOX-SHADOW-ITEM: 0px 2px 4px rgba(98, 98, 98, 0.25);
$BOX-SHADOW-TOOLBAR: 0px 0px 4px rgba(0, 0, 0, 0.2);

// 레벨
$TOOLBAR: 1000;
$MODAL: 2000;
$MODAL-BACK: 1500;
$POPUP: 3000;
$POPUP-BACK: 2500;

// 랭크
$RANK-001: #d9626b;
$RANK-002: #bf4968;
$RANK-003: #536173;
